[tool.isort]
profile = "black"
multi_line_output = 3
include_trailing_comma = true
force_grid_wrap = 0
use_parentheses = true
ensure_newline_before_comments = true
line_length = 88
known_first_party = ["ftxbot"]
known_third_party = ["MetaTrader5", "pandas", "numpy", "argparse", "asyncio", "json", "logging", "sys", "time", "datetime", "pathlib", "typing", "dataclasses", "enum"]